<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTF Platform</title>
    <link rel='stylesheet' href='/styles/style.css' />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rules">Rules</a></li>
            {{#if user}}
                <li><a href="/team">Team</a></li>
                <li><a href="/problems">Problems</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/logout">Log Out</a></li>
            {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Log In</a></li>
            {{/if}}
        </ul>
    </nav>
    {{{body}}}
    <footer></footer>
</body>
</html>
