Easter Egg Submission Page
<!-- You found the easter egg page! egg{1_f0undz_th3_3gg5} -->
<form action="/api/eggs" method="post">
    <label for="egg">Easter Egg:</label>
    <input name="egg" id="egg"/>
    <input type="submit" />
</form>
